[submodule "addon"]
	path = addon
	url = git@github.com:3DSceneAgent/blender-mcp-vision.git
[submodule "tool_servers/AssetRetrieval3D"]
	path = tool_servers/AssetRetrieval3D
	url = https://github.com/3DSceneAgent/AssetRetrieval3D
[submodule "tool_servers/PCGIntegrator3D"]
	path = tool_servers/PCGIntegrator3D
	url = https://github.com/3DSceneAgent/PCGIntegrator3D
[submodule "tool_servers/TRELLIS.2"]
	path = tool_servers/TRELLIS.2
	url = https://github.com/FishWoWater/TRELLIS.2
